{% extends 'Flights/layout.html' %}

{% block title %}

{{ flight.origin.code }} - {{ flight.destination.code }}

{% endblock %}
{% block body %}

<h2>
    Flight {{ flight.id }}
</h2>
<ul>
    <li> Origin : {{ flight.origin }} </li>
    <li> Destination : {{ flight.destination }} </li>
    <li> Duration : {{ flight.duration }} </li>
    <li> Destination : {{ flight.destination }} minutes </li>
</ul>

<h3>
    Passengers
</h3>
<ol>
    {% for passenger in passengers %}
    <li>{{ passenger.first }} {{ passenger.last }}</li>
    {% empty %}
    <li>No Passengers</li>
    {% endfor %}
</ol>

<h3>Add passenger</h3>

<form action="{% url 'flights:book' flight.id %}" method="post">
    {% csrf_token %}

    <!-- We want the user to select a passenger -->
     <select name="passenger" id="">
        {% for passenger in non_passengers %}
            <option value="{{ passenger.id }}"> {{ passenger }} </option>
        {% endfor %}
     </select>

     <input type="submit">
</form>

<a href="{% url 'flights:index' %}">All Flights</a>

{% endblock %}
